<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<head>
  <title>Correlation Engine</title>
  <div id="tooltip" class="hidden" style="position:absolute">
    <span id="value">
  </div>
 
</head>

<body>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  <script src="{{ STATIC_URL }}js/input.js"></script>
  <script src="{{ STATIC_URL }}js/preview.js"></script>
  <script src="{{ STATIC_URL }}js/result.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">  
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="#">Correlation Engine</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ STATIC_URL }}UserManual.pdf">User Manual</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Layout<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <label class="checkbox-inline">
                <input type="checkbox" id="check_input_file" checked="true" onchange="check_input_file()"> Input Data File
              </label>
            </li>
            <li><label class="checkbox-inline">
                <input type="checkbox" id="check_option" checked="true"  onchange="check_option()"> Option
              </label>
              </li>
            <li>
              <label class="checkbox-inline">
                <input type="checkbox" id="check_drop_area" checked="true"  onchange="check_drop_area()"> Drop Area
              </label>
            </li>
            <li>
              <label class="checkbox-inline">
                <input type="checkbox" id="check_preview" checked="true"  onchange="check_preview()"> Preview
              </label>
            </li>
            <li>
              <label class="checkbox-inline">
                <input type="checkbox" id="check_result" checked="true"  onchange="check_result()"> Result
              </label>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div id="main" class="row">
      <div id="header" class="row">
        <!-- OUTLINE -->
        <div id="checkbox" class="col-md-12">
          <center>

          </center>      
        </div>
      </div>
    
      <!-- INPUT FILE-->
      <div id="input" class="col-md-3">
        <div id="input_file" class="box" style="height: 200px">
          <!-- <h2>input file</h2> -->
          <button type="button" class="btn btn-default btn-lg btn-block">Input Data File</button>
          <br>
          <input type="file" id="data_file" name="data_file" />
          <p>(.csv and .xlsx file supported)</p>
          <input type="button" id="upload" class="btn btn-info" value="upload" onclick="upload()" />
        </div>
        
        <!-- PARSER -->
        <!--   
        <div id="parser">
          <hr>
          <h2>parse</h2>
        
        </div>
        -->  
        
        <!-- OPTION -->
        <div id="option" class="box" style="height: 800px">
          <!-- <h2>option</h2> -->
          <button type="button" class="btn btn-default btn-lg btn-block">Option</button>
          <br>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="option_mode" class="col-sm-3 control-label">Mode</label>
              <div class="col-sm-9">
                <select class="form-control" name="" id="option_mode" onchange="change_mode(this.value)">
                  <option value="one_one">One vs One</option>
                  <option value="one_many">One vs Many</option>
                  <option value="many_many">Many vs Many</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="option_algorithm" class="col-sm-3 control-label">Algorithm</label>
              <div class="col-sm-9">
                <select class="form-control" name="" id="option_algorithm">
                  <option value="Pearson">Pearson</option>
                  <!-- <option value="Cross_Correlation">Cross Correlation</option> -->
                </select>
                <input type="checkbox" id="time_series_analysis">Time Series Analysis</input>
              </div>
            </div>          
            <div class="form-group">
              <label for="" class="col-sm-3 control-label">Data</label>
              <div class="col-sm-9">
                <select class="form-control" name="" id="option_data_mode" onchange="change_data_mode(this.value)">
                  <option value="data_by_column">Data by Column</option>
                  <option value="data_by_row">Data by Row</option>
                </select>
                <div id="option_data"></div>
              <p>Use "Ctrl" or "Command" to select multiple item,</p>
              <p>or drag&drop items to "Drop Area"(supported in Firefox 32.0.3)</p>
              </div>
            </div>
            <center>
            <input type="button" class="btn btn-info" value="preview" onclick="make_preview()">
            <input type="button" class="btn btn-info" value="calculate" onclick="calculate()">
          </center>
          </form>
        </div>
      </div>
    
      <div id="output" class="col-md-9">
        <div class="row">
          <!-- DROP AREA -->
          <div class="col-md-3">
            <div id="drop_area" class="box" style="height: 400px">
              <!-- <h2>drop area</h2> -->
              <button type="button" class="btn btn-default btn-lg btn-block">Drop Area</button>
              <br>
              <select id="selected_data" class="tagdiv form-control" name="taglist2" size=7 ondrop="drop(event)" ondragover="allowDrop(event)">
                  
              </select>
            </div>
          </div>
          <!-- PREVIEW -->
          <div class="col-md-9">
            <div id="preview" class="box" style="height: 400px">
              <!-- <h2>preview</h2> -->
              <button type="button" class="btn btn-default btn-lg btn-block">Preview</button>
              <br>
            </div>
          </div>
        </div>
      
        <!-- RESULT -->
        <div class="row">
          <div class="col-md-12">
            <div id="result" class="box" style="height: 600px">
              <!-- <h2>result</h2> -->
              <button type="button" class="btn btn-default btn-lg btn-block">Result</button>
              <br>
          
              <a id="download_result" href="download" class="btn btn-info" target="_blank" style="display:none">Download Result</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">

  var dataset,
      options = {
        'option_mode': [],
        'option_algorithm': [],
        'option_data_mode': [],
        'time_series_analysis': [],
      },
      result,
      series_names,
      selected_series_names,
      selected_series,
      x_labels,
      x_label_name,
      preview = [{
        'y_values':[],
        'x_labels':[],
        'name':''}];



  function allowDrop(ev)
  {
    ev.preventDefault();
  }

  function drag(ev)
  {
    ev.dataTransfer.setData("Text",ev.target.id);
  }

  function drop(ev)
  {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    options['option_data'] = [];
    selected_series_names = [];
    $('#selected_data>option')
      .val(function(i, value){
        options['option_data'].push(Number(value))
        selected_series_names.push(series_names[Number(value)])
        return value;
    })
    calculate(drag_event=true)
    make_preview(drag_event=true)
  }

  </script>
</body>

</html>