<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<head>
  <title>Correlation Engine</title>
  <div id="tooltip" class="hidden" style="position:absolute">
    <span id="value">
  </div>
 
</head>

<body>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  <style>
  .axis text {
    font: 12px sans-serif;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  rect.cell-hover {
    stroke: #F00;
    stroke-width:0.3px;   
  }

  text.text-highlight {
    fill: #c00;
  }
  #main {
    margin: 5%;
  }
  .box {
    border-color: #ddd;
    border-width: 2px;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    /*margin: 20px;*/
    padding: 20px;
    overflow: scroll;
  }
  #tooltip {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

  #tooltip.hidden {
    display: none;
  }

  #tooltip#value text {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
  </style>

  <div id="main" class="row"><!-- INPUT FILE-->
    <center><h1>Correlation Engine</h1></center>
    
    <div id="header" class="row">
      <div id="checkbox" class="col-md-12">
        <center>
          <label class="checkbox-inline">
            <input type="checkbox" id="check_input_file" checked="true" onchange="check_input_file()"> Input Data File
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="check_option" checked="true"  onchange="check_option()"> Option
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="check_drop_area" checked="true"  onchange="check_drop_area()"> Drop Area
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="check_preview" checked="true"  onchange="check_preview()"> Preview
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="check_result" checked="true"  onchange="check_result()"> Result
          </label>
        </center>      
      </div>
    </div>
    
    <div id="input" class="col-md-3">
      <div id="input_file" class="box" style="height: 200px">
        <!-- <h2>input file</h2> -->
        <button type="button" class="btn btn-default btn-lg btn-block">Input Data File</button>
        <br>
        <input type="file" id="data_file" name="data_file" />
        <p>(.csv file supported)</p>
        <input type="button" class="btn btn-info" value="upload" onclick="upload()" />
      </div>
      
      <!-- PARSER -->
      <!--   
      <div id="parser">
        <hr>
        <h2>parse</h2>
      
      </div>
      -->  
      
      <!-- OPTION -->
      <div id="option" class="box" style="height: 800px">
        <!-- <h2>option</h2> -->
        <button type="button" class="btn btn-default btn-lg btn-block">Option</button>
        <br>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="option_mode" class="col-sm-3 control-label">Mode</label>
            <div class="col-sm-9">
              <select class="form-control" name="" id="option_mode" onchange="change_mode(this.value)">
                <!-- <option value="one_one">One vs One</option> -->
                <!-- <option value="one_many">One vs Many</option> -->
                <option value="many_many">Many vs Many</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="option_algorithm" class="col-sm-3 control-label">Algorithm</label>
            <div class="col-sm-9">
              <select class="form-control" name="" id="option_algorithm">
                <option value="Pearson">Pearson</option>
                <!-- <option value="Cross_Correlation">Cross Correlation</option> -->
              </select>
              <input type="checkbox" id="time_series_analysis">Time Series Analysis</input>
            </div>
          </div>          
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">Data</label>
            <div class="col-sm-9">
              <select class="form-control" name="" id="option_data_mode" onchange="change_data_mode(this.value)">
                <option value="data_by_column">Data by Column</option>
                <option value="data_by_row">Data by Row</option>
              </select>
              <div id="option_data"></div>
            </p>Use "Ctrl" or "Command" to select multiple item</p>
            </div>
          </div>
          <center>
          <input type="button" class="btn btn-info" value="preview" onclick="make_preview()">
          <input type="button" class="btn btn-info" value="calculate" onclick="calculate()">
        </center>
        </form>
      </div>
    </div>

    <div id="output" class="col-md-9">
      <div class="row">
        <!-- DROP AREA -->
        <div class="col-md-3">
          <div id="drop_area" class="box" style="height: 400px">
            <!-- <h2>drop area</h2> -->
            <button type="button" class="btn btn-default btn-lg btn-block">Drop Area</button>
            <br>
            <select id="selected_data" class="tagdiv form-control" name="taglist2" size=7 ondrop="drop(event)" ondragover="allowDrop(event)">
                
            </select>
          </div>
        </div>
        <!-- PREVIEW -->
        <div class="col-md-9">
          <div id="preview" class="box" style="height: 400px">
            <!-- <h2>preview</h2> -->
            <button type="button" class="btn btn-default btn-lg btn-block">Preview</button>
            <br>
          </div>
        </div>
      </div>
    
      <!-- RESULT -->
      <div class="row">
        <div class="col-md-12">
          <div id="result" class="box" style="height: 600px">
            <!-- <h2>result</h2> -->
            <button type="button" class="btn btn-default btn-lg btn-block">Result</button>
            <br>
        
<!--             <select id="mode" onchange="checkField(this.value)">
              <option value="graph_mode">graph_mode</option>
              <option value="text_mode">text_mode</option>
            </select> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  
  console.log({{ BASE_URL }})
  var debug;

  var dataset,
      options = {
        'option_mode': [],
        'option_algorithm': [],
        'option_data_mode': [],
        'time_series_analysis': [],
      },
      result,
      series_names,
      selected_series_names,
      x_labels,
      x_label_name,
      preview = [{
        'y_values':[],
        'x_labels':[],
        'name':''}];

  var client = new XMLHttpRequest();
  
  // $("#parser").hide();
  // $("#option").hide();
  // $("#result").hide();
  // $("#preview").hide();

  function check_input_file()
  {
    if($("#check_input_file").attr('checked'))
      $("#input_file").show()
    else
      $("#input_file").hide()
  }
  function check_option()
  {
    if($("#check_option").attr('checked'))
      $("#option").show()
    else
      $("#option").hide()
  }
  function check_drop_area()
  {
    if($("#check_drop_area").attr('checked'))
      $("#drop_area").show()
    else
      $("#drop_area").hide()
  }
  function check_preview()
  {
    if($("#check_preview").attr('checked'))
      $("#preview").show()
    else
      $("#preview").hide()
  }
  function check_result()
  {
    if($("#check_result").attr('checked'))
      $("#result").show()
    else
      $("#result").hide()
  }

  function upload() 
  {
    var file = document.getElementById("data_file");

    /* Create a FormData instance */
    var formData = new FormData();
    /* Add the file */ 
    //formData.append("data_file", file.files[0]);

    formData.append("data_file", file.files[0])
    client.open("post", "option/", true);
    client.send(formData);  /* Send to server */ 
  }

  /* Check the response status */  
  client.onreadystatechange = function() 
  {
    if(client.readyState == 4)
      if(client.status == 200) 
      {
        // alert(client.statusText);
        var responseJSON = JSON.parse(client.responseText)
        dataset = responseJSON
        series_names = dataset[0]
        x_labels = dataset.map(function(row){
          return row[0]+','+row[1]
        }).slice(1);
        x_label_name = series_names[0]
        $("#option_data_mode").val('data_by_column')
        $("#option_mode").val('many_many')
        change_mode('many_many')
        alert("upload successfully!")
      }
      else
      {
        alert("try again!")
      }
  }

  function one_one()
  {
    var data1_select = d3.select("#option_data").append("select").attr("id", "data1")
    data1_select.selectAll("option").data(series_names).enter()
    .append("option")
    .attr("value", function(d, i){return i; })
    .text(function(d){return d; })
    
    var data2_select = d3.select("#option_data").append("select").attr("id", "data2")
    data2_select.selectAll("option").data(series_names).enter()
    .append("option")
    .attr("value", function(d, i){return i; })
    .text(function(d){return d; })
  }
  function one_many()
  {
    var data1_select = d3.select("#option_data").append("select").attr("id", "data1")
    data1_select.selectAll("option").data(series_names).enter()
    .append("option")
    .attr("value", function(d){return d; })
    .text(function(d){return d; })

    var data2_select = d3.select("#option_data").append("select").attr("multiple","").attr("size", "15").attr("id", "data2")
    data2_select.selectAll("option").data(series_names).enter()
    .append("option")
    .attr("selected","")
    .attr("value", function(d, i){return i; })
    .text(function(d){return d; })      
  }
  function many_many()
  {
    var data_select = d3.select("#option_data")
                          .append("select")
                          .attr("multiple","")
                          .attr("size", 15)
                          .attr("id", "data")
                          .attr("class", "form-control tagdiv")
                          .attr("ondrop", "drop(event)")
                          .attr("ondragover", "allowDrop(event)");

      data_select.selectAll("option")
                  .data(series_names)
                  .enter()
                  .append("option")
                  .attr("selected","")
                  .attr("draggable",true)
                  .attr("ondragstart", "drag(event)")
                  .attr("class", "dragElement")
                  .attr("id", function(d, i){return i+d; })
                  .attr("value", function(d, i){return i; })
                  .text(function(d){return d; });          
  }
  function change_mode(mode)
  {
    if(data=document.getElementById("data1"))
      data.remove()
    if(data=document.getElementById("data2"))
      data.remove()
    if(data=document.getElementById("data"))
      data.remove()
    
    if (mode=="one_one") {one_one();}
    else if(mode=="one_many") {one_many();}
    else if(mode=="many_many") {many_many();}
  }
  function change_data_mode(data_mode)
  {
    var newdataset = dataset[0].map(function(col, i) { 
      return dataset.map(function(row) { 
        return row[i] 
      })
    });
    dataset = newdataset;
    series_names = dataset[0];
    x_labels = dataset.map(function(row){
      return row[0]
    }).slice(1);
    x_label_name = series_names[0]
    change_mode($('#option_mode').val());
  }
  function make_preview(drag_event)
  {
    options['option_mode'] = $('#option_mode').val(),
    options['option_algorithm'] = $('#option_algorithm').val(),
    options['option_data_mode'] = $('#option_data_mode').val(),
    options['time_series_analysis'] = ($('#time_series_analysis').attr('checked') == 'checked')

    if(!drag_event)
    {
      if($('#option_mode').val() == 'many_many')
      {  
        options['option_data'] = $('#option_data>#data').val().map(Number)
        selected_series_names = options['option_data']
      }
      else if(($('#option_mode').val() == 'one_many'))
      {
        options['option_data1'] = Number($('#option_data>#data1').val())  
        options['option_data2'] = $('#option_data>#data2').val().map(Number)
        selected_series_names = options['option_data2']
        selected_series_names.splice(0,0,options['option_data1'])
      }
      else
      {
        options['option_data1'] = Number($('#option_data>#data1').val())  
        options['option_data2'] = Number($('#option_data>#data2').val())
        selected_series_names = [options['option_data1'], options['option_data2']]
      }
    }

    preview = [];
    options['option_data'].forEach(function(e){
      series = {
        'y_values':dataset.map(function(row){return row[e]}).slice(1).map(Number),
        'x_labels':x_labels,
        'name':series_names[e]
      }
      preview.push(series)
    })
  
    // $("#preview").show()
    $("#preview_svg").remove();
    preview_draw()
  }
  function preview_draw()
  {
    d3.select("#preview").append("div").attr("id","preview_svg")

    var m = {'top':20, 'bottom':20, 'left':50, 'right':20},
    w = 400,
    h = 200,
    x_tickSize = preview[0]['x_labels'].length

    var x = d3.scale.linear().range([m['left'], w - m['right']]);
    x.domain([0, preview[0]['x_labels'].length - 1])

    var xAxisScale = d3.scale.ordinal().rangePoints([m['left'], w - m['right']])

    var y = d3.scale.linear().range([h - m['top'], m['bottom']]);
    // y.domain([0, 10])

    xAxis = d3.svg.axis()
        .scale(xAxisScale)
        .tickSize(5)
        .tickSubdivide(true),

    yAxis = d3.svg.axis()
        .scale(y)
        .tickSize(5)
        .orient("left")
        .tickSubdivide(true);

    // A line generator, for the dark stroke.
    var line = d3.svg.line()
        .x(function(d, i) { return x(i); })
        .y(function(d) { return y(d); })
        .interpolate("linear");

    var svg = d3.select('#preview_svg')
                .selectAll('svg')
                .data(preview)
                .enter()
                .append('svg')
                .attr("width", w)
                .attr("height", h)

    svg.each(function(d, i){
      y.domain([d3.min(d['y_values']),
                d3.max(d['y_values'])])
      xAxisScale.domain(d['x_labels'])

      d3.select(this)
        .attr('id', function(d){return 'preview'+d['name']})

      d3.select(this)
        .append('path')
        .attr("d", function(d) {     
          return line(d['y_values']) 
        })
        .attr("stroke", "blue")
        .attr("stroke-width", 2)
        .attr("fill", "none");

      // d3.select(this)
      //   .append('svg:g')
      //   .attr('class', 'x axis')
      //   .attr('transform', 'translate(0,' + (h - m['bottom']) + ')')
      //   .call(xAxis);

      d3.select(this)
        .append('svg:g')
        .attr('class', 'y axis')
        .attr('transform', 'translate(' + (m['left']) + ',0)')
        .call(yAxis);

      d3.select(this)
        .append("text")
        .attr("x", (w / 2))             
        .attr("y", (m['top']/2))
        .attr("text-anchor", "middle")  
        .style("font-size", "14px") 
        .style("text-decoration", "underline")  
        .text(function(d){return d['name']});

      d3.select(this)
        .append("text")
        .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
        .attr("transform", "translate("+ (m['left']/2) +","+(h/2)+")rotate(-90)")  // text is drawn off the screen top left, move down and out and rotate
        .text("Value");

      d3.select(this)
        .append("text")
        .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
        .attr("transform", "translate("+ (w/2) +","+(h-(m['bottom']/3))+")")  // centre below axis
        .text(x_label_name);

    })
    
  }
  function calculate(drag_event)
  {
    options['option_mode'] = $('#option_mode').val(),
    options['option_algorithm'] = $('#option_algorithm').val(),
    options['option_data_mode'] = $('#option_data_mode').val(),
    options['time_series_analysis'] = ($('#time_series_analysis').attr('checked') == 'checked')
  
    
    // FOR BUTTON VERSION
    if(!drag_event)
    {
      if($('#option_mode').val() == 'many_many')
      {
        options['option_data'] = $('#option_data>#data').val().map(Number)
        selected_series_names = options['option_data'].map(function(d){return series_names[d]})
      }
      else if(($('#option_mode').val() == 'one_many'))
      {
        options['option_data1'] = Number($('#option_data>#data1').val())  
        options['option_data2'] = $('#option_data>#data2').val().map(Number)
        selected_series_names = options['option_data2'].map(function(d){return series_names[d]})
      }
      else
      {
        options['option_data1'] = Number($('#option_data>#data1').val())  
        options['option_data2'] = Number($('#option_data>#data2').val())
      }
    }  
    
    $.post( "calculate/", options, function(responseText) {
      result = responseText
      result = JSON.parse(responseText)
      $('#result').show();
      $("#result").scrollTop;
      $('#result_text').remove();
      $('#result_graph').remove();
      if(options['option_mode'] == 'one_one')
        one_one_text_mode();
      else if(options['option_mode'] == 'one_many')
      {  
        one_many_text_mode();
        one_many_graph_mode();
        // checkField('graph_mode');
      }
      else if(options['option_mode'] == 'many_many')
      {  
        many_many_graph_mode();
        // many_many_text_mode();
      }
    });
  }

  function checkField(mode)
  {
    // $.('#result').remove();
    // if(result=document.getElementById("result"))
    //   result.remove()
    if (mode == "text_mode") 
    {
      $('#result_text').show();
      $('#result_graph').hide();
    }
    else if(mode == "graph_mode")
    {
      $('#result_text').hide();
      $('#result_graph').show();
    }
  }
  function one_one_text_mode()
  {
    var svg = d3.select("#result")
                    .append("div").attr("id","result_graph")
                    .append("svg").attr("id","result_graph")

    var m = {'top':60, 'bottom':60, 'left':100, 'right':100},
    w = 1000,
    h = 300,
    x_tickSize = preview[0]['x_labels'].length

    var x = d3.scale.linear().range([m['left'], w - m['right']]);
    x.domain([d3.min(result['cross_correlation'], function(d){return d[0]}),
              d3.max(result['cross_correlation'], function(d){return d[0]})])

    var xAxisScale = d3.scale.ordinal().rangePoints([m['left'], w - m['right']])

    var y = d3.scale.linear().range([h - m['top'], m['bottom']]);
    y.domain([-1, 1])
    // y.domain([d3.min(result['cross_correlation'], function(d){return d[1]}),
    //           d3.max(result['cross_correlation'], function(d){return d[1]})])
    
    xAxisScale.domain(result['cross_correlation'], function(d){return d[0]})

    xAxis = d3.svg.axis()
        .scale(x)
        .tickSize(5)
        .tickSubdivide(true),

    yAxis = d3.svg.axis()
        .scale(y)
        .tickSize(5)
        .orient("left")
        .tickSubdivide(true);

    // A line generator, for the dark stroke.
    var line = d3.svg.line()
        .x(function(d) { return x(d[0]); })
        .y(function(d) { return y(d[1]); })
        .interpolate("linear");

    svg.attr("width", w)
       .attr("height", h)
       .append('path')
        .attr("d", function(d) {     
          return line(result['cross_correlation']) 
        })
        .attr("stroke", "blue")
        .attr("stroke-width", 2)
        .attr("fill", "none");

    svg.append('svg:g')
        .attr('class', 'y axis')
        .attr('transform', 'translate(' + (m['left']) + ',0)')
        .call(yAxis);

    svg.append('svg:g')
        .attr('class', 'x axis')
        .attr('transform', 'translate(0,' + (h - m['bottom']) + ')')
        .call(xAxis);

    svg.append("text")
        .attr("x", (w / 2))             
        .attr("y", (m['top']/2))
        .attr("text-anchor", "middle")  
        .style("font-size", "14px") 
        .style("text-decoration", "underline")  
        .text('Cross Correlation between\"'+preview[0]['name']+'\" and \"'+preview[1]['name']+'\"');

    svg.append("text")
        .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
        .attr("transform", "translate("+ (m['left']/2) +","+(h/2)+")rotate(-90)")  // text is drawn off the screen top left, move down and out and rotate
        .text("Correlation");

    svg.append("text")
        .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
        .attr("transform", "translate("+ (w/2) +","+(h-(m['bottom']/3))+")")  // centre below axis
        .text("Lag");

    svg.append("text")
        .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
        .attr("transform", "translate("+ (w/2) +","+h+")")  // centre below axis
        .text("Max Correlation:" + result['max_correlation'].toFixed(4) + "; Lag:" + result['lag']);

  }

  function one_many_text_mode()
  {

    // d3.select("#result").select("table").selectAll("tr").insert("td", "td").data(selected_series_names).enter().text(function(d){return d;})
  }
  function one_many_graph_mode()
  {
      //Width and height
      var w = 400;
      var h = 400;
      var barPadding = 1;

      //Scale
      var x = d3.scale.ordinal().rangeRoundBands([0, w], .05);
      var y = d3.scale.linear().range([0, h/2]);

      x.domain(selected_series_names.map(function(d) { return d; }));
      y.domain([0, 1]);

      //Create SVG element
      var svg = d3.select("body")
            .append("div").attr("id", "result_graph")
            .append("svg")
            .attr("width", w)
            .attr("height", h);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom")
          .ticks(10);

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")
          .ticks(10);

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + h + ")")
          .call(xAxis)
        .selectAll("text")
          .style("text-anchor", "end")
          .attr("dx", "-.8em")
          .attr("dy", "-.55em")
          .attr("transform", "rotate(-90)" );

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Value ($)");

      svg.selectAll("rect")
         .data(result)
         .enter()
         .append("rect")
         .attr("x", function(d, i) {
            return i * (w / result.length);
         })
         .attr("y", function(d) {
          if(d[0]>0)
            return h/2 - y(d[0]);
          else
            return h/2;
         })
         .attr("width", w / result.length - barPadding)
         .attr("height", function(d) {
            return y(Math.abs(d[0]));
         })
         .attr("fill", function(d) {
          if(d[0]>0) return 'green';
          else return 'red'
         });

      // svg.selectAll("text")
      //    .data(result)
      //    .enter()
      //    .append("text")
      //    .text(function(d) {
      //       return d[0];
      //    })
      //    .attr("text-anchor", "middle")
      //    .attr("x", function(d, i) {
      //       return i * (w / result.length) + (w / result.length - barPadding) / 2;
      //    })
      //    .attr("y", function(d) {
      //       return h - (d[0] * 4) + 14;
      //    })
      //    .attr("font-family", "sans-serif")
      //    .attr("font-size", "11px")
      //    .attr("fill", "white");
  
      }
  
  function many_many_text_mode()
  {
    var tr = d3.select("#result")
               .append("div")
               .attr("id", "result_text")
               .append("table")
               .attr("border", "1")
               .selectAll("tr")
               .data(result).enter().append("tr")
              
    var td = tr.selectAll("td")
               .data(function(d){return d; })
               .enter()
               .append("td")
               .append("pre")
               .text(function(d){
                if(d == 'nan')
                  return d
                else if(d == 'self')
                  return ''
                else
                  return d[0].toFixed(4)+'\n'+d[1].toFixed(4);
              })

    d3.select("#result_text")
      .select("table")
      .insert("tr","tr")
      .selectAll("td")
      .data(selected_series_names)
      .enter()
      .append("td")
      .text(function(d){return d;})

    // to make the fisr element in the fisrt coloumn empty
    // copy array
    var tmp_selected_series_names = selected_series_names.slice(0)
    tmp_selected_series_names.splice(0, 0, '')

    d3.select("#result_text")
      .select("table")
      .selectAll("tr")
      .data(tmp_selected_series_names)
      .insert("td", "td")
      .text(function(d){return d;})
    // d3.select("#result").select("table").selectAll("tr").insert("td", "td").data(selected_series_names).enter().text(function(d){return d;})
  }

  function many_many_graph_mode()
  {
    var w = 1000,
        h = 600,
        m = {'top':30, 'bottom':100, 'left':50, 'right':100},
        innerPadding = 0.1,
        outPadding = 0.1,
        legendRange = d3.range(-1, 1, 0.1);
    // Scale
    result = result.slice(1).map(function(row, i){return row.slice(0,i+1)})
    var cx = d3.scale.ordinal()
                    .rangeBands([m['left'], w - m['right']], innerPadding, outPadding)
                    .domain(d3.range(selected_series_names.length-1))

    var cy = d3.scale.ordinal()
                    .rangeBands([m['top'], h - m['bottom']], innerPadding, outPadding)
                    .domain(d3.range(selected_series_names.length-1))

    var cr = cx.rangeBand()/2;
    var r = d3.scale.linear()
                    .range([0, cr])
                    .domain([0, 1]);

    var legendElementWidth = cx.rangeBand()/2;
    var legendy = d3.scale.ordinal()
                    .rangeBands([h - m['bottom'], m['top']*2])
                    .domain(d3.range(0, legendRange.length));

    var xAxisScale = d3.scale.ordinal()
                       .range(cx.range().map(function(d){return d+cr}))
                       .domain(selected_series_names.slice(0,selected_series_names.length - 1).map(function(d, i) { return d; }));

    var yAxisScale = d3.scale.ordinal()
                       .range(cy.range().map(function(d){return d+cy.rangeBand()/2}))
                       .domain(selected_series_names.slice(1).map(function(d, i) { return d; }));

    var color = d3.scale.linear()
                  .domain([-1, 0, 1])
                  .range(["red", "white", "green"]);

    xAxis = d3.svg.axis()
            .scale(xAxisScale)
            .tickSize(5)
            .orient("bottom")
            .tickSubdivide(true),

    yAxis = d3.svg.axis()
              .scale(yAxisScale)
              .tickSize(5)
              .orient("left")
              .tickSubdivide(true);

    var svg = d3.select("#result")
            .append("div").attr("id", "result_graph")
            .append("svg")
            .attr("width", w)
            .attr("height", h)
            
    var background = svg.append("rect")
                        .attr('x', m['left'])
                        .attr('y', m['top'])
                        .attr('width', w - m['left'] - m['right'])
                        .attr('height', h - m['top'] - m['bottom'])
                        .attr('fill', '#B8B8B8')
    
    // RECT MODE
    var row = svg.selectAll("g")
            .data(result)
            .enter()
            .append("g")
            .attr("row", function(d, i){
              return i;
            })
            .attr("transform", function(d, i) { 
              return "translate(0," + (cy(i)) + ")"; 
            })
    
    row.selectAll("rect")
       .data(function(d){return d; })
       .enter()
       .append("rect")
       // .transition()
       .attr('x', function(d, i){
        return cx(i)
       })
       .attr('y', 0)
       .attr('width', function(d){
        return cx.rangeBand();
       })
      .attr('height', function(d){
        return cy.rangeBand();
       })
      .attr('fill', function(d){
        if(d == 'nan')
          return 'orange'
        else if(d == 'self')
          return '#B8B8B8'
        else
          return color(d[0])
      })
      .on("mouseover", function(d, col){
         //highlight text
         var row = d3.select(this.parentNode).attr('row')
         d3.select(this).classed("cell-hover",true);
         d3.selectAll("#result svg .y.axis .tick text").classed("text-highlight",function(r, ri){ return ri==row;});
         d3.selectAll("#result svg .x.axis .tick text").classed("text-highlight",function(c, ci){ return ci==col;});
  
         //Update the tooltip position and value
         var tooltip = d3.select("#tooltip")
                         .style("poisition", "absolute")
                         .style("left", (d3.event.pageX+10) + "px")
                         .style("top", (d3.event.pageY-10) + "px")
                         .select("#value")   
         if(d == 'nan')
            tooltip.text(selected_series_names[row]+","+selected_series_names[col]+"  Correlation:NaN");
          else  
            tooltip.text(selected_series_names[row]+","+selected_series_names[col]+"  Correlation:"+d[0].toFixed(4)+"  P_value:"+d[1].toFixed(4));  
            
         //Show the tooltip
         d3.select("#tooltip").classed("hidden", false);
      })
      .on("mouseout", function(){
         d3.select(this).classed("cell-hover",false);
         d3.selectAll(".y.axis .tick text").classed("text-highlight",false);
         d3.selectAll(".x.axis .tick text").classed("text-highlight",false);
         d3.select("#tooltip").classed("hidden", true);
      })
      ;

    // CIRLCLE MODE

    // var row = svg.selectAll("g")
    //         .data(result)
    //         .enter()
    //         .append("g")
    //         .attr("transform", function(d, i) { 
    //           return "translate("+m["left"]+"," + (m["top"]+cx(i)+cr) + ")"; 
    //         })
    
    // var circles = row.selectAll("circle")
    //         .data(function(d){return d; })
    //         .enter()
    //         .append("circle")
    
    // circles
    //     .attr('r', function(d){
    //       return r(Math.abs(d[0])); 
    //     })
    //     .attr('fill', function(d){
    //       if(d[0]>0) return 'green';
    //       else return 'red';
    //     })
    //     .attr('cx', function(d, i){
    //       return (cx(i)+cr); 
    //     })
    //     .append("svg:title").text(function(d){
    //       return d; 
    //     })


    svg.append('svg:g')
      .attr('class', 'y axis')
      .attr('transform', 'translate(' + (m['left']) + ',0)')
      .call(yAxis);
    
    svg.append('svg:g')
      .attr('class', 'x axis')
      .attr('transform', 'translate(0,' + (h - m['bottom']) + ')')
      .call(xAxis)
      // .selectAll("text")
      // .style("text-anchor", "end")
      // .attr("dx", "1em")
      // .attr("dy", "1em")      
      // .attr("transform", "rotate(-90)");

    var legend = svg.selectAll(".legend")
                    .data(legendRange)
                    .enter().append("g")
                    .attr("class", "legend");
    
    legend.append("rect")
          .attr("x", w - m['right']/1.5)
          .attr("y", function(d, i) { return legendy(i); })
          .attr("width", m['right']/4)
          .attr("height", legendy.rangeBand())
          .style("fill", function(d, i) { return color(d); });
   
    legend.append("text")
          .text(function(d) { return d; })
          // .attr("width", legendElementWidth)
          .attr("x", w - m['right']/1.5 + m['right']/4)
          .attr("y", function(d, i) { return legendy(i) + legendy.rangeBand()/2; })

    // Special notation
    var nan_legend = svg.append("g")
                        .attr("class", "legend")

    nan_legend.append("rect")
              .attr("x", w - m['right']/1.5 )
              .attr("y", legendy(legendRange.length-1)-2*legendy.rangeBand())
              .attr("width", m['right']/4)
              .attr("height", legendy.rangeBand())
              .style("fill", "orange");

    nan_legend.append("text")
              .text("NaN")
              .attr("x", w - m['right']/1.5 + m['right']/4)
              .attr("y", legendy(legendRange.length-1)-2*legendy.rangeBand()+legendy.rangeBand()/2)
              
  }

  function allowDrop(ev)
  {
    ev.preventDefault();
  }

  function drag(ev)
  {
    ev.dataTransfer.setData("Text",ev.target.id);
  }

  function drop(ev)
  {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    options['option_data'] = [];
    selected_series_names = [];
    $('#selected_data>option')
      .val(function(i, value){
        options['option_data'].push(Number(value))
        selected_series_names.push(series_names[Number(value)])
        return value;
    })
    calculate(drag_event=true)
    make_preview(drag_event=true)
  }

  </script>
</body>

</html>